<header id="site-header" class="bggray bg100">
  <div class="container wxl py1 sm:flex flexmiddle flexwrap flexspace">
    <div class="flex flexmiddle flexspace">
      <div id="site-brand" class="mr1">
        <a href="/" class="h4 m0 normal flex flexmiddle noline">
          {# EBST logo #}
          <svg style="width: 32px; height: 32px" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"><path d="M10 20C4.481 20 0 15.519 0 10S4.481 0 10 0h10v20H10ZM34 0c5.519 0 10 4.481 10 10s-4.481 10-10 10H24V0h10ZM10 44C4.481 44 0 39.519 0 34s4.481-10 10-10h10v20H10ZM34 24c5.519 0 10 4.481 10 10s-4.481 10-10 10H24V24h10Z" fill="currentColor"/></svg>
          <span class="pl1 heavy">{{ metadata.title }}</span>
        </a>
      </div>
      <button
        type="button"
        id="site-navigation-toggle"
        aria-expanded="false"
        aria-label="Menu"
        class="bold tgray t700 h:tblack bgblue bg300 h:bg400 sm:hidden">
        MENU
      </button>
    </div>

    <nav role="navigation" id="site-navigation">
      <div id="site-navigation-menu" class="sm:flex gap">
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        {%- for entry in collections.all | eleventyNavigation %}
        <a 
          class="inlineblock my1 semibold uppercase"
          {% if entry.url == page.url %} aria-current="page"{% endif %}
          href="{{ entry.url }}"
        >{{ entry.title }}</a>
        {%- endfor %}

        <a 
          class="inlineblock my1 heavy uppercase"
          href="https://github.com/SimonPadbury/eleventy-blog-starter-theme">GitHub</a>

        <button id="theme-toggle" class="nowrap uppercase">
          <svg class="mr1" height="16" width="16">
            <circle cx="8" cy="8" r="8" fill="currentColor" />
          </svg>
          <span>theme</span></button>
      </div>
    </nav>
  </div>
</header>
