---
permalink: /tags/
title: Tags
layout: page.njk
---

{#
List of tags you have used in your blog posts.
You could use `_includes/tags.njk` e.g. in your blog sidebar as a “widget”.
#}

<div class="center">
  {% include "_includes/tags.njk" %}
</div>
